import React, { PureComponent } from 'react';
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
{{/if}}

{{#if wantCssStyle}}
import styles from './{{ properCase name }}.style.css';
{{/if}}
{{#unless wantCssStyle}}
import { style } from './{{ properCase name }}.style';
{{/unless}}

class {{ properCase name }} extends PureComponent {
  render() {
    return (
      <div>
      {{#if wantMessages}}
        <FormattedMessage id="" />
      {{/if}}
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
